@use "./global/reset" ;
@use "./components/data" ;
@use "./layout.scss";
@use "./components/products.scss" ;
@use "./components/singleProduct.scss";
@use "./pages/useState.scss";



.no_page {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.context-page {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    button {
        width: fit-content;
        padding: 1em 2em;
        border:none;
        border-radius: 1.3em;
        font-size: 1.2em;
        cursor: pointer;
    }
    .count-context-btn {
        background-color: #72c91b;
    }
    .notify-btn {
        background-color: #0076c4;
        text-transform: uppercase;
    }
}

