nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #EEE;
    .logo {
        text-transform: uppercase;
        cursor: pointer;
    }
    .context-counter {
        display: flex;
        gap: 1em;
        align-items: center;
        .notify {
            display: flex;
            position: relative;
            svg {
                font-size: 2em;
                color: #272727;
                cursor: pointer;
            }
            .noti-count {
                position: absolute;
                top: -0.5em;
                right: -0.5em;
                background-color: #0076c4;
                color: #fff;
                padding: 0.5em;
                width: 1.3em;
                height: 1.3em;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    ul {
        list-style-type: none;
        display: flex;
        gap: 1em;
        a{
            color: #000;
            opacity: 0.5;
            &.active {
                opacity: 1;
            }
        }
    }
}


footer {
    height: 6em;
    background-color: #272727;
    color: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

